body {
	width: 760px;
	margin: 0 auto;
	font-family: Helvetica;
}

h1 {
	text-align: center;
}

section {
	margin: 100px 0;
	display: none;
}

.currentPage {
	display: block;
}

p {
  font-size: 22px;
}

.youtube_embed {
	margin: 0 auto;
	display: block;
}